/* ! SPACING SYSTEM (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*! FONT SIZE SYSTEM (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* ! whitespace (padding and margins) */
/* 2 / 4 / 8 / 12 / 16 / 32 / 64 / 128 / */

/* ! shadows */

/* ! Font weights */
/* 
default: 400
Medium: 500
Semi-bold: 600
Bold: 700
*/
/* ! Line heights */
/* 
default: 1
Small: 1.05
Paragraph default: 1.6
*/

/* ! border-radius */
/* 
default: 9px 
medium: 12px
*/
/* ! icons: ionicons */
/* ! colors */

:root {
  --main-dark--1: #34495e;
  --main-dark--2: #2c3e50;

  --light-gray--1: #ecf0f1;
  --light-gray--2: #bdc3c7;
  --dark-gray--1: #95a5a6;
  --dark-gray--2: #7f8c8d;

  --danger--1: #c0392b;
  /* --success--1: #27ae60; */
  --success--1: #22c328;
  --noti--1: #ffff00;
  --mint: #56c2f8;

  --yellow: #fdbb2d;
  --blue: #22c1c3;
  --green: #22c328;
}

/* ! whole document reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /*! original font-size is 16px and 62.5% of that is 10px; this way we set 1rem = 10px */
  font-size: 62.5%;
}

/* *semanitic HTML elements, classes */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  /* background-color: var(--mint); */
  /* color: var(--light-gray--1) */
  background: linear-gradient(var(--yellow), var(--blue));
}

footer {
  margin-top: auto;
  background: linear-gradient(var(--blue), var(--yellow));
}

.header {
  background: linear-gradient(var(--blue), var(--yellow));
  height: 4rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: larger;
  font-weight: 700;
}

.footer {
  min-height: 4rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
p {
  font-size: 2rem;
  line-height: 3rem;
  /* margin-bottom: 2.4rem; */
}

li {
  list-style-type: none;
}

img{
  object-fit: cover;
}

/* * login/sign up form style */
form {
  margin-top: 4rem;
}
legend {
  color: var(--dark-gray--2);
}
fieldset {
  border-color: var(--light-gray--2);
  border-radius: 0.9rem;
  padding: 1rem;
}

label {
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}
select,
input {
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.8rem;
}

select,
input[type='password'],
input[type='email'],
input[type='text'] {
  background-color: var(--blue);
  opacity: 0.6;
  border: none;
  border-bottom: 0.1rem solid var(--light-gray--2);
  letter-spacing: 0.4rem;
  text-align: center;
  border-radius: 0.4rem;
}
input[type='password']:invalid,
input[type='email']:invalid,
input[type='text']:invalid {
  border-bottom: 0.4rem solid var(--danger--1);
  border-radius: 0.4rem;
}

input[type='password']:valid,
input[type='email']:valid,
input[type='text']:valid {
  border-bottom: 0.4rem solid var(--success--1);
  border-radius: 0.4rem;
  opacity: 1;
  background-color: var(--blue);
}
input::placeholder {
  text-align: center;
}
input:focus {
  opacity: 1;
  background-color: var(--blue);
  color: var(--main-dark--1);
  font-weight: 500;
}


