* {
  box-sizing: border-box;
}


/* *semanitic HTML elements, classes */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}
.header{
  height: 40px;
  background-color: aquamarine;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer{
  height: 40px;
  background-color: lightcyan;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* ********************************************** */
/* * non specific classes */
.show{
    display: block;
}
.hide{
    display: none;
}
.show-inline{
    display: inline-block;
}
/* ********************************************** */
/* * containers */
.main{
  outline: 1px solid yellow;
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
}

section{
  flex: 1 1 auto;
  height: 90vh;
}

.section-one{
  max-width: 30%;
  min-height: 80%;
}

.section-two{
  max-width: 65%;
  min-height: 80%;
}
.map-container {
  height: 100%;
  outline: 1px solid red;
  background-color: aquamarine;
}

.message-container{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightcyan;
}

/* ********************************************** */
/* * forms */
/* .user-form {
  display: none;
} */

/* #route_form {
  display: none;
} */

/* #add_route { */
  /* display: none; */
/* } */


/* ********************************************** */
/* * buttons */
.btn {
  display: inline-block;
  color: white;
  font-weight: 600;
}

.btn-delete {
  background-color: red;
}

.btn-load-map {
  background-color: green;
}
/* ********************************************** */


/* ********************************************** */

