.form{
    display: none;
}

#route_form{
    display: none;
}

#add_route{
    display: none;
}

.map-container{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

/* * buttons */

.btn{
display: inline-block;
}

.btn-delete{
    background-color: red;
    color: white;
    font-weight: 600;
}