/* * non specific classes */
.show {
  display: block;
}
.hide {
  display: none;
}
.show-inline {
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.strong {
  font-weight: 600;
}
/* ********************************************** */
/* * containers */
.main {
  display: flex;
  outline: 1px solid yellow;
  /* gap: 20px; */
  justify-content: space-between;
}

section {
  flex: 1 1 auto;
  height: 90vh;
}

.section-one {
  max-width: 30%;
  min-height: 80%;
}

.section-two {
  max-width: 65%;
  min-height: 80%;
}
.map-container {
  height: 100%;
  outline: 1px solid red;
  background-color: aquamarine;
}

.message-container {
  min-height: 4rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: lightcyan;
}

.btn-container {
  margin-top: 4rem;
}
/* ********************************************** */
/* * buttons */
.btn {
  margin: .8rem;
  padding: .4rem .8rem;
  font-weight: 600;
  border-radius: 0.9rem;
}
.btn:hover {
  background-color: lightgray;
}

.btn-cancel {
  background-color: rgb(240, 128, 128);
}
.btn-cancel:hover {
  color: white;
  background-color: rgb(164, 50, 50);
}

.btn-success {
  background-color: rgb(75, 181, 67);
}
.btn-success:hover {
  color: white;
  background-color: rgb(27, 135, 27);
}
/* ! just to make it even with submit input */
#cancel_submit_user {
  width: 9rem;
}

.btn-logout{
  margin: .4rem;
  padding: 0rem 1.8rem;
  font-weight: 500;
  border-radius: 0.9rem;
}
.btn-delete {
  background-color: rgb(240, 128, 128);
}

.btn-load-map {
  background-color: rgb(27, 135, 27);

}
/* ********************************************** */
/** section ONE */

/* ********************************************** */

/* ********************************************** */
/* * forms */
/* .user-form {
  display: none;
} */

/* #route_form {
  display: none;
} */

/* #add_route { */
/* display: none; */
/* } */

/* ********************************************** */
/* * marker view */
.card{
  display: flex;
  background-color: #fff;
  color: #333;
  border-radius: 1.5rem;
  padding: 1rem 1.2rem;
  margin: 2.5rem;
  position: relative;
  outline: 2px solid green;
  background-color: aquamarine;
}

.name-display{
  outline: 2px solid red;
  position: relative;
  top: -2.4rem;
  background: #f4f4f4;
  width: 20rem;
  height: 3rem;
  /* padding: 1rem; */
  text-align: center;
  border-radius: 9px;
  font-size: 1.9rem;
  border: 1px #eee solid;
  transition: 0.3s;
}

.card-main{
  width: 70%;
}

.card-btns{
  width: 20%;
  position: relative;
  top: 0;
  right: 0;
}

.btn-marker{
  position: relative;
  top: -1rem;
  right: -6rem;
  
}

/** style based of marker category */
.marker-activity{
  /* background-color: lightgreen; */
  border-left: 1.5rem solid green;
}

.marker-danger{
  /* background-color: lightcoral; */
  /* border-left: 2rem solid lightcoral; */
  border-left: 1.5rem solid red;
}

.marker-ToGo{
  border-left: 1.5rem solid yellow;
  /* background-color: rgb(251, 251, 88); */
}

.marker-miscellaneous{
  border-left: 1.5rem solid gray;
  /* background-color: lightgray; */
}
